<!-- begin footer -->
<div class="footer mt-3 mb-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="tieude">
            kết nối với chúng tôi
          </div>
          <hr class="nganhon">
          <div>
            <i class="fa fa-facebook icon_footer" aria-hidden="true"></i>
            <i class="fa fa-twitter icon_footer" aria-hidden="true"></i>
            <i class="fa fa-google-plus icon_footer" aria-hidden="true"></i>
            <i class="fa fa-skype icon_footer" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="tieude">
            menu
          </div>
          <hr class="nganhon">
          <div>
            <div class="menufooter">
              <ul class="menufoot">
                <li><a href="">Trang chủ</a></li>
                <li><a href="">Giới thiệu</a></li>
                <li><a href="">Cửa hàng</a></li>
                <li><a href="">Tin tức</a></li>
                <li><a href="">Liên hệ</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="tieude">
            hướng dẫn, hỗ trợ
          </div>
          <hr class="nganhon">
          <div>
            <div class="menufooter">
              <ul class="menufoot">
                <li><a href="">Câu hỏi thường gặp</a></li>
                <li><a href="">Điều khoản sử dụng</a></li>
                <li><a href="">Phương thức vận chuyển</a></li>
                <li><a href="">Hướng dẫn đổi trả</a></li>
                <li><a href="">Hướng dẫn trả góp</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="tieude">
            QUY ĐỊNH CHÍNH SÁCH
          </div>
          <hr class="nganhon">
          <div>
            <div class="menufooter">
              <ul class="menufoot">
                <li><a href="">Chính sách và quy định chung</a></li>
                <li><a href="">Chính sách bảo hành</a></li>
                <li><a href="">Chính sách đổi trả hàng</a></li>
                <li><a href="">Chính sách bảo mật</a></li>
                <li><a href="">Điều khoản sử dụng</a></li>
              </ul>
            </div>
          </div>
        </div>
  
      </div>
    </div> <!-- end container -->
    <hr>
    <div class="container mt-3 mb-3">
      <div class="row">
        <div class="col-sm-12 text-xs-center">
          CÔNG TY TNHH  MILK SHOP
  
         Giấy phép kinh doanh: 0313728397 Sở kế hoạch và đầu tư TP.Hồ Chí Minh
  
         Thiết kế web, Dịch vụ thiết kế website
  
         Địa Chỉ:151 Hồ Bá Kiện, P15, Q10, HCM
  
         Điện Thoại: 0126 922 0162
        </div>
      </div>
    </div>
  </div>
  <!-- end footer -->
