<!-- begin gioithieu -->
<div class="lienhe gioithieu">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mb-2 mt-2">
                <h5 class="lienhe">về chúng tôi</h5>
            </div>
            <div class="col-sm-12 mt-2 mb-2">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="./assets/img/be-gau-1.png" alt="" class="img-fluid">
                    </div> <!-- end col3 -->
                    <div class="col-sm-6 text-xs-center">
                        <h1 class="tieude">
                            CÔNG TY TNHH  MILK SHOP 
                        </h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ab quidem dignissimos, nulla suscipit culpa placeat neque explicabo, voluptatum modi architecto atque repudiandae a autem dolorem sed vitae officiis facilis.</p>
                        
                       <!-- begin accordion -->

                       <div id="accordion" role="tablist" aria-multiselectable="true">
                           <div class="panel panel-default">
                               <div class="panel-heading" role="tab" id="headingOne">
                                   <h4 class="panel-title">
                                       <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                           Sản phẩm sữa bột
                                       </a>
                                   </h4>
                               </div>
                               <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                   <b>Sữa bột</b> là sữa Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas odit ex ab excepturi sed soluta quasi reprehenderit dignissimos accusantium, distinctio pariatur, nobis illo perferendis placeat dolore totam asperiores consequuntur enim!
                               </div>
                           </div>
                           <div class="panel panel-default">
                               <div class="panel-heading" role="tab" id="headingOne">
                                   <h4 class="panel-title">
                                       <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
                                           Sản phẩm sữa tươi
                                       </a>
                                   </h4>
                               </div>
                               <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                   <b>Sữa tươi</b> là sữa Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas odit ex ab excepturi sed soluta quasi reprehenderit dignissimos accusantium, distinctio pariatur, nobis illo perferendis placeat dolore totam asperiores consequuntur enim!
                               </div>
                           </div>
                           <div class="panel panel-default">
                               <div class="panel-heading" role="tab" id="headingOne">
                                   <h4 class="panel-title">
                                       <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseOne">
                                           Sản phẩm sữa đặc
                                       </a>
                                   </h4>
                               </div>
                               <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                   <b>Sữa đặc</b> là sữa Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas odit ex ab excepturi sed soluta quasi reprehenderit dignissimos accusantium, distinctio pariatur, nobis illo perferendis placeat dolore totam asperiores consequuntur enim!
                               </div>
                           </div>
                           <div class="panel panel-default">
                               <div class="panel-heading" role="tab" id="headingOne">
                                   <h4 class="panel-title">
                                       <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFor" aria-expanded="false" aria-controls="collapseOne">
                                           Sản phẩm sữa chua
                                       </a>
                                   </h4>
                               </div>
                               <div id="collapseFor" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                   <b>Sữa chua</b> là sữa Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas odit ex ab excepturi sed soluta quasi reprehenderit dignissimos accusantium, distinctio pariatur, nobis illo perferendis placeat dolore totam asperiores consequuntur enim!
                               </div>
                           </div>
                       </div>
                       <!-- end accordion -->



                    </div><!-- end col6 -->
                    <div class="col-sm-3">
                        <img src="./assets/img/be-gau-2.png" alt="" class="img-fluid">
                    </div><!-- end col3 -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end gioithieu -->
