	<!-- begin noidungcuahang -->
    <div class="chitietsanpham">
        <div class="container mt-3 mb-3">
            <div class="row">
                <div class="col-sm-3">
                    <div class="khoidanhmuc">
                        <div class="tieude">
                        danh mục sản phẩm
                    </div>
                    <hr class="nganhon">
                    <div>
                        <div class="menuchitietsanpham">
                            <ul class="menuchitiet">
                                <li><a href="khuyenmai.html">Khuyến mại mới</a></li>
                                <li><a href="sanpham.html">Sữa bột</a></li>
                                <li><a href="sanpham.html">Sữa đặc</a></li>
                                <li><a href="sanpham.html">Sữa tươi</a></li>
                                <li><a href="sanpham.html">Sữa chua</a></li>
                            </ul>
                        </div>
                    </div>
                    </div>
                    <div class="khoidanhmuc">
                        <div class="tieude">
                        Lọc theo giá
                    </div>
                    <hr class="nganhon">
                    <div>
                        <div class="loctheogia">
                            <form>
                                <input id="slider11" type="range" min="0" max="1000" class="form-control" />
                                <input type="text" placeholder="Lọc" class="loc">
                                <span>Trên <b class="valueSpan"></b><b>.000 đ</b></span>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-sm-9">
                            <div class="khoinho cuahang giamgia"> <!-- 175x222 -->
                                <a href="sanpham.html"><img src="./assets/img/sps1.png" alt="" class="img-fluid sanphamsua"></a>
                                <span class="chunho1">Cho bé ăn</span>
                                <div class="tieude"><a href="sanpham.html">Enfamil A+ 3 Vani Brain Plus 400g</a></div>
                                <span class="gia"><a href="sanpham.html">230,000đ</a></span>
                            </div> <!-- end khoinho -->
                        <div class="khoinho cuahang giamgia"> <!-- 175x222 -->
                            <a href="sanpham.html"><img src="./assets/img/sps1.png" alt="" class="img-fluid sanphamsua"></a>
                            <span class="chunho1">Cho bé ăn</span>
                            <div class="tieude"><a href="sanpham.html">Enfamil A+ 3 Vani Brain Plus 400g</a></div>
                            <span class="gia"><a href="sanpham.html">230,000đ</a></span>
                        </div> <!-- end khoinho -->
                        <div class="khoinho cuahang"> <!-- 175x222 -->
                            <a href="sanpham.html"><img src="./assets/img/sps1.png" alt="" class="img-fluid sanphamsua"></a>
                            <span class="chunho1">Cho bé ăn</span>
                            <div class="tieude"><a href="sanpham.html">Enfamil A+ 3 Vani Brain Plus 400g</a></div>
                            <span class="gia"><a href="sanpham.html">230,000đ</a></span>
                        </div> <!-- end khoinho -->
                        <div class="khoinho cuahang "> <!-- 175x222 -->
                            <a href="sanpham.html"><img src="./assets/img/sps1.png" alt="" class="img-fluid sanphamsua"></a>
                            <span class="chunho1">Cho bé ăn</span>
                            <div class="tieude"><a href="sanpham.html">Enfamil A+ 3 Vani Brain Plus 400g</a></div>
                            <span class="gia"><a href="sanpham.html">230,000đ</a></span>
                        </div> <!-- end khoinho -->
                        <div class="khoinho cuahang giamgia"> <!-- 175x222 -->
                            <a href="sanpham.html"><img src="./assets/img/sps1.png" alt="" class="img-fluid sanphamsua"></a>
                            <span class="chunho1">Cho bé ăn</span>
                            <div class="tieude"><a href="sanpham.html">Enfamil A+ 3 Vani Brain Plus 400g</a></div>
                            <span class="gia"><a href="sanpham.html">230,000đ</a></span>
                        </div> <!-- end khoinho -->
                        <div class="khoinho cuahang "> <!-- 175x222 -->
                            <a href="sanpham.html"><img src="./assets/img/sps1.png" alt="" class="img-fluid sanphamsua"></a>
                            <span class="chunho1">Cho bé ăn</span>
                            <div class="tieude"><a href="sanpham.html">Enfamil A+ 3 Vani Brain Plus 400g</a></div>
                            <span class="gia"><a href="sanpham.html">230,000đ</a></span>
                        </div> <!-- end khoinho -->
                        <div class="khoinho cuahang "> <!-- 175x222 -->
                            <a href="sanpham.html"><img src="./assets/img/sps1.png" alt="" class="img-fluid sanphamsua"></a>
                            <span class="chunho1">Cho bé ăn</span>
                            <div class="tieude"><a href="sanpham.html">Enfamil A+ 3 Vani Brain Plus 400g</a></div>
                            <span class="gia"><a href="sanpham.html">230,000đ</a></span>
                        </div> <!-- end khoinho -->
                        <div class="khoinho cuahang "> <!-- 175x222 -->
                            <a href="sanpham.html"><img src="./assets/img/sps1.png" alt="" class="img-fluid sanphamsua"></a>
                            <span class="chunho1">Cho bé ăn</span>
                            <div class="tieude"><a href="sanpham.html">Enfamil A+ 3 Vani Brain Plus 400g</a></div>
                            <span class="gia"><a href="sanpham.html">230,000đ</a></span>
                        </div> <!-- end khoinho -->
                        <div class="khoinho cuahang "> <!-- 175x222 -->
                            <a href="sanpham.html"><img src="./assets/img/sps1.png" alt="" class="img-fluid sanphamsua"></a>
                            <span class="chunho1">Cho bé ăn</span>
                            <div class="tieude"><a href="sanpham.html">Enfamil A+ 3 Vani Brain Plus 400g</a></div>
                            <span class="gia"><a href="sanpham.html">230,000đ</a></span>
                        </div> <!-- end khoinho -->
                </div>
            </div>
        </div>
    </div>
        <!-- end noidungcuahang -->
