<!-- begin khoisanpham_1 -->
<div class="khoisanpham_1">
    <div class="container">
      <div class="row">
        <div class="col-sm-2 bopadding ">
          <div class="chiacot">
            <div class="sanphamtop_1">
              <img src="./assets/img/sanpham1_tops.png" alt="" class="img-fluid sanpham1_img">
              <div class="chunho">Sữa bột</div>
            </div>
            <div class="menusanphamtop_1">
              <ul>
                <li><a href="" class="menusanpham">Anpha</a></li>
                <li><a href="" class="menusanpham">Gow plus</a></li>
                <li><a href="" class="menusanpham">De lac</a></li>
                <li><a href="" class="menusanpham">@@</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 bopadding">
          <img src="./assets/img/sp1.png" alt="" class="img-fluid sanpham1">
        </div>
        <div class="col-sm-6 bopadding">
          <div class="khoinho"> <!-- 175x222 -->
            <a href="sanpham.html"><img src="./assets/img/sps1.png" alt="" class="img-fluid sanphamsua"></a>
            <span class="chunho1">Cho bé ăn</span>
            <div class="tieude"><a href="">Enfamil A+ 3 Vani Brain Plus 400g</a></div>
            <span class="gia"><a href="">230,000đ</a></span>
          </div> <!-- end khoinho -->
          <div class="khoinho"> <!-- 175x222 -->
            <a href="sanpham.html"><img src="./assets/img/sps2.png" alt="" class="img-fluid sanphamsua"></a>
            <span class="chunho1">Cho bé ăn</span>
            <div class="tieude"><a href="">Bột ăn dặm Ridielac bò rau củ HG 200G</a></div>
            <span class="gia"><a href="">48,500 ₫</a></span>
          </div> <!-- end khoinho -->
          <div class="khoinho"> <!-- 175x222 -->
            <a href="sanpham.html"><img src="./assets/img/sps3.png" alt="" class="img-fluid sanphamsua"></a>
            <span class="chunho1">Cho bé ăn</span>
            <div class="tieude"><a href="">Sữa bột dinh dưỡng Aptamil Đức số 1– 1.2kg</a></div>
            <span class="gia"><a href="">765,000 ₫</a></span>
          </div> <!-- end khoinho -->
          <div class="khoinho"> <!-- 175x222 -->
            <a href="sanpham.html"><img src="./assets/img/sps4.png" alt="" class="img-fluid sanphamsua"></a>
            <span class="chunho1">Cho bé ăn</span>
            <div class="tieude"><a href="">Bộ bình 2 chiếc – 250ml</a></div>
            <span class="gia"><a href="">390,000đ</a></span>
          </div> <!-- end khoinho -->
          <div class="khoinho"> <!-- 175x222 -->
            <a href="sanpham.html"><img src="./assets/img/sps1.png" alt="" class="img-fluid sanphamsua"></a>
            <span class="chunho1">Cho bé ăn</span>
            <div class="tieude"><a href="">Enfamil A+ 3 Vani Brain Plus 400g</a></div>
            <span class="gia"><a href="">230,000đ</a></span>
          </div> <!-- end khoinho -->
          <div class="khoinho"> <!-- 175x222 -->
            <a href="sanpham.html"><img src="./assets/img/sps1.png" alt="" class="img-fluid sanphamsua"></a>
            <span class="chunho1">Cho bé ăn</span>
            <div class="tieude"><a href="">Enfamil A+ 3 Vani Brain Plus 400g</a></div>
            <span class="gia"><a href="">230,000đ</a></span>
          </div> <!-- end khoinho -->
        </div>
      </div>
    </div>
  </div>
  <!-- end khoisanpham1 -->
