<!-- begin lienhe -->
<div class="lienhe">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt-2 mb-2">
                <h5 class="lienhe">Liên hệ với chúng tôi</h5>
            </div>
            <div class="col-sm-8 push-sm-2 mt-2 mb-2">
                <div class="khung">
                    <form>  
                      <div class="form-group">						    
                        <input type="text" class="form-control" id="yourname" placeholder="Tên của bạn">
                      </div>
                      <div class="form-group"> 
                        <input type="text" class="form-control" id="youremail" placeholder="Email của bạn">
                      </div>
                      <div class="form-group"> 
                        <input type="text" class="form-control" id="yourtitle" placeholder="Tiêu đề">
                      </div>
                      <div class="form-group"> 
                        <textarea name="" class="form-control"></textarea>
                      </div>
                      <div class="form-group"> 
                        <input type="submit" class="form-control gui">
                      </div>
                         
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end lienhe -->
